form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    background-image: url(../img/world.gif) !important;
}

input {
    width: 270px;
    height: 30px;
}

label {
    font-size: 1rem;
}

#title-cep {
    font-size: 2rem;
}


